{% extends 'app/base.html' %}
{% load static %}

{% block content %}
  <main class="delivery-information">
    <div class="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="">Главная</a></li>
          <li><a href="" class="active">dfgrhg</a></li>
        </ul>
      </div>
    </div>
    <section class="container">
      <div class="flex">
        <ul class="tabs-nav">
          <li><a class="tab-active" href="">sfdgf</a></li>
        </ul>
        <div class="tabs-stage">
          <h1>dfgrfh</h1>
          gdgdg
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block js %}{% endblock %}

