<footer class="footer">
  <div class="container">
    <div class="nav-footer">
      <div class="nav-block">
        <h3>dfgh</h3>
        <ul>
          <li><a href="#">efgrf</a></li>
          <li><a href="#">dfghj</a></li>
          <li><a href="#">werth</a></li>
        </ul>
      </div>
      <div class="nav-block">
        <h3>Контакты</h3>
        <ul><li><a href="tel:">sdfg</a></li>
          <li><a href="mailto:">dfg</a></li>
          <li><a>sdfg</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info">
      <a href="https://sunrisestudio.pro/ru" class="name-company"
         target="blank">
        Developed by Sunrise Studio
      </a>
      <div class="social-icon">
        <a href="#" class="ok" target="_blank"></a>
        <a href="#" class="vk" target="_blank"></a>
        <a href="#" class="insta" target="_blank"></a>
        <a href="#" class="facebook" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>